<footer class="footer inverse-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-sm-4">
        <div class="widget">
          <h3 class="widget-title">Popular Posts</h3>
          <ul class="post-list">
            <li>
              <div class="icon-overlay"> <a href="blog-post.html"><img src="style/images/art/a1.jpg" alt="" /> </a> </div>
              <div class="meta">
                <h5><a href="blog-post.html">Magna Mollis Ultricies</a></h5>
                <em><span class="date">3th Oct 2012</span> <span class="comments"><a href="#"><i class="icon-chat-1"></i> 8</a></span></em> </div>
              </li>
              <li>
                <div class="icon-overlay"> <a href="blog-post.html"><img src="style/images/art/a2.jpg" alt="" /> </a> </div>
                <div class="meta">
                  <h5><a href="blog-post.html">Ornare Nullam Risus Tellus Elit Fusce Inceptos Etiam</a></h5>
                  <em><span class="date">28th Sep 2012</span> <span class="comments"><a href="#"><i class="icon-chat-1"></i> 5</a></span></em> </div>
                </li>
                <li>
                  <div class="icon-overlay"> <a href="blog-post.html"><img src="style/images/art/a3.jpg" alt="" /> </a> </div>
                  <div class="meta">
                    <h5><a href="blog-post.html">Euismod Nullam</a></h5>
                    <em><span class="date">15th Aug 2012</span> <span class="comments"><a href="#"><i class="icon-chat-1"></i> 9</a></span></em> </div>
                  </li>
                </ul>
                <!-- /.post-list -->
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
            
            <div class="col-sm-4">
              <div class="widget">
                <h4 class="widget-title">Tags</h4>
                <ul class="tag-list">
                  <li><a href="#" class="btn">Web</a></li>
                  <li><a href="#" class="btn">Photography</a></li>
                  <li><a href="#" class="btn">Illustation</a></li>
                  <li><a href="#" class="btn">Fun</a></li>
                  <li><a href="#" class="btn">Blog</a></li>
                  <li><a href="#" class="btn">Commercial</a></li>
                  <li><a href="#" class="btn">Journal</a></li>
                  <li><a href="#" class="btn">Nature</a></li>
                  <li><a href="#" class="btn">Still Life</a></li>
                </ul>
              </div>
              <!-- /.widget -->
              
              <div class="widget">
                <h4 class="widget-title">Elsewhere</h4>
                <ul class="social">
                  <li><a href="#"><i class="icon-s-rss"></i></a></li>
                  <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                  <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
                </ul>
                <!-- .social -->
                
              </div>
            </div>
            <!-- /column -->
            
            <div class="col-sm-4">
              <div class="widget">
                <h4 class="widget-title">Search</h4>
                <form class="searchform" method="get">
                  <input type="text" id="s2" name="s" value="Search something" onfocus="this.value=''" onblur="this.value='Search something'">
                  <button type="submit" class="btn btn-default">Find</button>
                </form>
              </div>
              <!-- /.widget -->
              <div class="widget">
                <h4 class="widget-title">Para mayores informes</h4>
                <p>Favor de comunicarse en al siguiente teléfono o acudir a la siguiente dirección, para trámites consultar la ayuda en linea</p>
                <div class="contact-info"> <i class="icon-location"></i>Av. Lic. Adolfo López Mateos, Esq. Tte. José Azueta s/n, Col. Centro C.P. 39300, Acapulco, Gro <br />
                  <i class="icon-phone"></i>01 (744)434-1400 <br />
                </div>
                <!-- /.widget -->
                
              </div>
              <!-- /column -->
              
            </div>
            <!-- /.row -->
          </div>
          <!-- .container -->
          
          <div class="sub-footer">
            <div class="container inner">
              <p class="text-center">© 2015 CAPAMA. Todos los derechos reservados <a href="http://capama.gob.mx">CAPAMA</a>.</p>
            </div>
            <!-- .container -->
          </div>
          <!-- .sub-footer -->
        </footer>
        <!-- /footer -->