.wysiwyg-font-size-smaller {
  font-size: smaller;
}

.wysiwyg-font-size-larger {
  font-size: larger;
}

.wysiwyg-font-size-xx-large {
  font-size: xx-large;
}

.wysiwyg-font-size-x-large {
  font-size: x-large;
}

.wysiwyg-font-size-large {
  font-size: large;
}

.wysiwyg-font-size-medium {
  font-size: medium;
}

.wysiwyg-font-size-small {
  font-size: small;
}

.wysiwyg-font-size-x-small {
  font-size: x-small;
}

.wysiwyg-font-size-xx-small {
  font-size: xx-small;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
  clear: right;
}

.wysiwyg-clear-left {
  clear: left;
}

.wysiwyg-size-100{
  width: 100%;
}

.wysiwyg-size-75{
  width: 75%;
}

.wysiwyg-size-50{
  width: 50%;
}

.wysiwyg-size-25{
  width: 25%;
}

.wysiwyg-area{
  margin-top: -22px;
  height: 500px;
  border: solid 1px #eee;
}

.wisywing-options{
  margin-bottom: 25px;
  min-height: 100px;
  width: 100%;
  border: solid 1px #eee;
  padding: 20px; 
  margin-bottom: -10px;
  margin-top: -10px;
  background: #fff;
}