<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">
        <%=  @ticket.cause %>
        <span class="tools pull-right">
        </span>
      </header>
      <div class="panel-body">
       Email: <%= @ticket.email%></br>
       Teléfono: <%= @ticket.phone%></br>
       <p><%= @ticket.explanation%></p>
      </div>
    </section>
  </div>
</div>