<div class="row">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body profile-information">
        <div class="col-md-3">
          <div class="profile-pic text-center">
            <%  if !@user.avatar? %><i class="fa fa-user"></i><%end%>
            <%= image_tag("#{@user.avatar.gigant}", id: "imgavatar") if @user.avatar? %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-desk">
            <h1><%= @user.name %></h1>
            <span class="text-muted">Product Manager</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor vestibulum imperdiet. Ut auctor accumsan erat, a vulputate metus tristique non. Aliquam aliquam vel orci quis sagittis.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
        