<div class="row">
  <div class="col-md-12">
    <header class="panel-heading">
      Post de la Página
    </header>
  </div>
  <br/><br/><br/>
  <%= render partial: '/posts/posts', locals: {posts: @posts} %>
</div>