<div class="tp-fullscreen-container revolution">
  <div class="tp-fullscreen">
    <ul>
      <li data-transition="fade">
        <img src="/assets/capama-2-2.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
      </li>
    </ul>
  </div>
</div>