<div class="tp-fullscreen-container revolution">
  <div class="tp-fullscreen">
    <ul>
      <li data-transition="fade">
        <img src="/assets/capama3.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
        <h1 class="tp-caption large sfr" data-x="30" data-y="263" data-speed="900" data-start="800" data-easing="Sine.easeOut">Bienvenido a CAPAMA</h1>
        <div class="tp-caption medium sfr" data-x="30" data-y="348" data-speed="900" data-start="1500" data-easing="Sine.easeOut">Ahora puedes encontrar mas rapidamente <br />
          las opcciones en nuestro menú <br/><br/>
          <a href="/user_help/new_ticket" class="btn btn-forest">Pagar mi cuenta</a> <a href="/user_help/new_ticket" class="btn btn-red">Ver mis adeudos</a>
        </div>
      </li>
      <li data-transition="fade">
        <img src="/assets/capama-1-2.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
        <div class="tp-caption large text-center sfl" data-x="center" data-y="283" data-speed="900" data-start="800" data-easing="Sine.easeOut">Ayuda en linea</div>
        <div class="tp-caption medium  text-center sfr" data-x="center" data-y="348" data-speed="900" data-start="1500" data-easing="Sine.easeOut">
          Te invitamos a probar nuestro servicio de ayuda en linea.
          <br/><br/>
          <a href="/user_help/new_ticket" class="btn btn-orange">Ayuda en linea</a>
        </div>
      </li>
      <li data-transition="fade">
        <img src="/assets/capama4.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
        <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;">Ahora nuestra página es múlti lenguaje</div>
          <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900" data-start="1500" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;">Selecciona un lenguaje:
          <a href="#" class="btn btn-rose">En</a>
          <a href="#" class="btn btn-blue">Fr</a>
          <a href="#" class="btn btn-green">Es</a>
          </div>
      </li>
      <li data-transition="fade">
        <img src="/assets/noticias.jpg"  alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
        <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2; color:#2f2f2f !important;">Nueva sección de noticias</div>
          <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900" data-start="1500" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;  color:#2f2f2f !important;">¿Quieres enterarte? entra a nuestra nueva sección de noticias<br/><br/>
           <a href="/news" class="btn btn-blue">Ver noticias </a>
          </div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
<div class="light-wrapper">
  <div class="container inner">
    <div class="thin">
      <h3 class="section-title text-center">Nuestras trabajo</h3>
      <p class="text-center">En capama trabajamos día a día para proporcionarte un mejor servicio a tí y a tu familia dentro de la hermosa ciudad de Acapulco Guerrero, estamos comprometidos en brindarte el mejor servicio posible, para heso realizamos las siguientes actividades:</p>
    </div>
    <!-- /.thin -->
    <div class="divide10"></div>
    <div class="row">
      <div class="col-sm-4">
        <div class="caption-overlay">
          <figure><a href="#"><img src="style/images/art/s1.jpg" alt="" /> </a></figure>
          <div class="caption bottom-right">
            <div class="title">
              <h3 class="main-title layer">Reparación de tomas de agua</h3>
            </div>
            <!--/.title -->
          </div>
          <!--/.caption -->
        </div>
      </div>
      <!-- /column -->
      <div class="col-sm-4">
        <div class="caption-overlay">
          <figure><a href="#"><img src="style/images/art/s2.jpg" alt="" /> </a></figure>
          <div class="caption bottom-right">
            <div class="title">
              <h3 class="main-title layer">Instalación de tomas de agua</h3>
            </div>
            <!--/.title -->
          </div>
          <!--/.caption -->
        </div>
      </div>
      <!-- /column -->
      <div class="col-sm-4">
        <div class="caption-overlay">
          <figure><a href="#"><img src="style/images/art/s3.jpg" alt="" /> </a></figure>
          <div class="caption bottom-right">
            <div class="title">
              <h3 class="main-title layer">Saneamiento y alcantarillado</h3>
            </div>
            <!--/.title -->
          </div>
          <!--/.caption -->
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    
  </div>
  <!-- /.container -->
</div>