<div class="supt-logo">
<img src="/assets/logoacapulco.png" width="400px">
</div>
<div class="ahead-head truncate">Artículo 81 LTAIPEG 207</div>
<div class="container inner" style="margin-top:-70px;">
  <div class="row">
    <h2>fdgdfdfdf</h2>
    <p>dfdfdfdf</p>
    <h2>dfdfdfdfdfdf</h2>
    <p>sdsdsdsdsdsdsd</p><br/><br/>
  </div>
</div>