<% if params[:acount].nil? && params[:recipt].nil? %>
  <%= render partial: "/renders_layout/loading", locals: {template: "reciptlegend", json:"reciptlegend", div: "loader", type: "recipt"} %>
   <div id="loader"></div>
<%else%>
<script type="text/javascript">
    getRecipt("<%=params[:acount]%>","recipt","loader");
</script>
<div id="loader"></div>
<%end%>